body{
font-family: Arial;
margin:0;
background: linear-gradient(135deg,#ffd6e7,#e6d6ff,#d6f0ff);
text-align:center;
}

/* Navigation */

nav{
background:#ff9bb8;
padding:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:#fff0f6;
}

/* Header */

header{
padding:70px 20px;
background:linear-gradient(135deg,#ffc2d6,#e6d6ff);
}

.profile{
width:180px;
border-radius:50%;
border:6px solid white;
box-shadow:0px 6px 15px rgba(0,0,0,0.2);
}

/* Sections */

.section{
background:#fff0f6;
margin:40px auto;
padding:40px;
width:80%;
border-radius:15px;
box-shadow:0px 6px 20px rgba(0,0,0,0.1);
}

/* Projects */

.projects{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:linear-gradient(135deg,#ffe3ee,#e6f4ff);
padding:25px;
width:260px;
border-radius:15px;
box-shadow:0px 6px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

/* Footer */

footer{
background:#ff9bb8;
color:white;
padding:20px;
margin-top:40px;
}
